POSTGRES_USER=easypay
POSTGRES_PASSWORD=easypay_password

NODE_ENV=production
PORT=8080

DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=easypay
DATABASE_PASSWORD=easypay_password
DATABASE_NAME=easypay

JWT_ACCESS_SECRET=your-access-secret
JWT_REFRESH_SECRET=your-refresh-secret
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d
